//====================  Nextflow/Container Config  ==========

manifest {
    name = "make_quilt_reference_data"
    description = 'Make reference haplotype files for quilt workflow'
    author = 'Sam Widmayer, Dan Gatti, Copyright Jackson Laboratory 2024'
}

params {

  // Mouse genome reference information
  ref_fa  = '/projects/omics_share/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.toplevel.fa'
  ref_vcf = '/projects/omics_share/mouse/GRCm39/genome/annotation/snps_indels/rel_2112_v8/mgp_REL2021_snps.vcf.gz'
  //ref_genome_url  = 'https://ftp.ensembl.org/pub/release-113/fasta/mus_musculus/dna/Mus_musculus.GRCm39.dna.toplevel.fa.gz'
  //ref_vcf_url     = 'https://ftp.ebi.ac.uk/pub/databases/mousegenomes/REL-2112-v8-SNPs_Indels/mgp_REL2021_snps.vcf.gz'

  // Set default custom strains
  custom_strains  = 'A_J,129S1_SvImJ,NOD_ShiLtJ,NZO_HlLtJ,CAST_EiJ,PWK_PhJ,WSB_EiJ'

  // Set default custom strains
  cross_type  = 'do'
}

