//====================  Nextflow/Container Config  ==========

manifest {
    name = "quilt"
    description = 'Workflow for haplotype reconstruction from low-coverage WGS data'
    author = 'Sam Widmayer, Dan Gatti (some code contributions from https://github.com/TheJacksonLaboratory/cs-nf-pipelines/), Copyright Jackson Laboratory 2024'
}

params {
  // Shared paramss
  read_type='PE'
  concat_lanes=false
  align_only=false
  downsample=false

  // Reference genome
  ref_fa = '/projects/omics_share/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.toplevel.fa'
  ref_fa_indices='/projects/omics_share/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.toplevel.fa'

  // Quality Stats params
  min_pct_hq_reads = '0.0'

  // Aligning parameters
  mismatch_penalty = "-B 8"
}

