//====================  Nextflow/Container Config  ==========

manifest {
    name = "stitch"
    description = 'Pipeline for Processing Low-Coverage WGS Samples and Haplotype Reconstruction'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo, Michael Lloyd, Brian Sanderson, Adapted by Sam Widmayer, Copyright Jackson Laboratory 2023'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values

params {
  // Shared params
  gen_org = 'mouse'
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE'
  concat_lanes = false
  DO = false

  // Reference fasta
  ref_fa = '/projects/compsci/omics_share/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.toplevel.fa'
  ref_fa_indices='/projects/omics_share/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.toplevel.fa'
  ref_vcf='/projects/omics_share/mouse/GRCm39/genome/annotation/snps_indels/rel_2112_v8/mgp_REL2021_snps.vcf.gz'

  
  // Quality Stats params
  min_pct_hq_reads = '0.0'

  // Variant calling parameters
  mismatch_penalty = "-B 8"

  tmpdir = "/fastscratch/${USER}" 
}
